/* Historymod config */

// mysql DB config
GLOBAL.DB_USER = <myUser>;
GLOBAL.DB_PASSWORD = <myUs3rP4s>;
GLOBAL.DB_NAME = <myHistoryModDBName>;

// NGSI SERVER
GLOBAL.NGSI_URL = 'http://orion.lab.fi-ware.org:1026';

// Service config
GLOBAL.SERVICE_URL = null; // Auto detect
//GLOBAL.SERVICE_URL = 'http://<myIp>';
GLOBAL.SERVICE_PORT = '80';
