/* Historymod config */

// mysql DB config
GLOBAL.DB_USER = <myUser>;
GLOBAL.DB_PASWORD = <myUs3rP4s>;
GLOBAL.DB_NAME = <myHistoryModDBName>;

// Service config
GLOBAL.SERVICE_URL = 'http://<myIp>';
GLOBAL.SERVICE_PORT = '80';

// NGSI SERVER
GLOBAL.NGSI_URL = 'http://130.206.82.140';
GLOBAL.NGSI_PORT = '1026';
